* {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family (stack): Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: #000;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  color: #000;
  font-weight: 300;
}
.card .md-form label , p{
  font-weight: 400;
  color: #000;
}
b, strong {
  font-weight: 600;
}
.error {
  color: #d80000;
  font-size: 14px;
  text-transform: capitalize;
}
.mbd-select {
  border: 0;
  border-bottom: 1px solid #ced4db;
  border-radius: 0;
  min-height: 41px;
}
.mbd-select:active, .mbd-select:focus {
  border-bottom: 2px solid #4285f4;
}
.btn {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.head-md{
  margin-bottom: 25px;
  font-weight: 500;
}
button.marTable {
  margin-top: 11px;
  margin-left: 5px;
  float: right;
}
.breadcrumb {
  padding: 0; 
}
/*Button*/
.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  opacity: 0.5;
  background: #000;
  content: "";
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/********Loading*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100001;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0,0.4);
}
#loader_image {
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 100002;
  width: 60px;
}
.mbdtable .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
  font-size: 1rem;
}
/********Close Button*/
.closebtn {
  border: 2px solid #b9b9b9;
  color: #757575;
  font-size: 15px;
  padding: 8px 2.14rem;
  font-weight: 500;
  margin: 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
/*Update Button*/
.primaryModal {
  font-size: 15px !important;
  padding: 10px 2.14rem;
  font-weight: 500;
}
.btn.editBtn {
  font-size: 14px;
  padding: 6px 21px;
  margin: 0;
}
.btn {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
span.invalid-feedback {
  margin-top: -7px;
  font-size: 15px;
}
.card {
  border: 1px;
}
.mbd-label {
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
}
/*-- Course --*/
.coursec .dropdown-toggle::after {
  display: none;
}
.coursec .fa.fa-bars {
  font-size: 20px;
}
.drpbtn {
  background: transparent;
  border: 0;
  width: 100%;
}
.removeicon {
  position: relative;
}
.removeicon .remove_field {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.imgicon {
  position: absolute;
  margin: 10px 20px;
}
.prof_icon {
  position: relative;
  max-width: 150px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, .6);
}
.prof_icon:hover .overlay {
  opacity: 1;
}
.icon {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0;
}

.fa-user:hover {
  color: #eee;
}
.equlwid {
  width: 100%;
  padding-right: 20px;
}
.bootstrap-table .fixed-table-container .table td {
  font-weight: 500;
}
.equlwid label {
  margin-bottom: 0;
  font-weight: 500;
}
.titlePanel {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*Course Seat Section*/
label {
  margin-bottom: 0;
}
/*Faculty*/

.fileUpload {
  position: relative;
  overflow: hidden;
  background-color: #e9ecef;
  margin: 0;
  font-size: 15px;
  padding: 7px 12px;
  box-shadow: none;
  border: 1px solid #ccc;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* -- Profile -- */
.prof_img img {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.prof_icon {
  margin-top: -95px;
}
.prof_icon img {
  border-radius: 9px; 
  border: 2px solid #c5c5c5;
}
.school-title {
  font-weight: 600 !important;
  font-size: 22px;
}
.proftable_title {
  font-weight: 600 !important;
}
.pencil {
  position: relative;
  cursor: pointer;
}
.pencil .fa.fa-pencil {
  position: absolute;
  right: 0;
}
.updateabtus {
  width: 100%;
  height: 106px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
.updateabtus:focus, .updateabtus:hover {
  border-bottom: 1px solid #4285f4;
  -webkit-box-shadow: 0 1px 0 0 #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}
/*-- Addmission --*/
.iconDate {
  padding: 9px;
  border: 2px solid #8c8c8c;
  color: #8c8c8c;
}
.admissionDate {
  position: absolute;
  top: -3px;
  right: 0;
}
.admsionstatus nav {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px 5px rgba(211, 211, 211, 0.5);
}
.admsionstatus .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}
.admsionstatus .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dcdcdc;
}
.admsionstatus .nav-tabs .nav-link {
  color: #000;
}
.arrow-up {
	position: relative;
}
.arrow-up:before {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #212529;
  position: absolute;
  left: 82px;
  top: -10px;
}
.arrow-upone:before {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #212529;
  position: absolute;
  left: 250px;
}
.arrow-uptwo:before {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #212529;
  position: absolute;
  left: 400px;
}

.mbd-label {
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
}
.mbd-select {
  border: 0;
  border-bottom: 1px solid #ced4db;
  border-radius: 0;
  min-height: 41px;
}
.mbd-select:active, .mbd-select:focus , .mbd-label:active, .mbd-label:focus {
  border-bottom: 2px solid #4285f4;
}
.browserfile {
  border: 0;
  border-bottom: 1px solid #ced4db;
  border-radius: 0;
  padding-left: 0;
}
.admission_inner .nav-tabs .nav-link {
  background-color: #fff;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-right: 4px;
}
.admisssion_detail_inner {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 45px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.document_inner button.btn {
  margin: 0;
  padding: 8px 16px;
  background-color: transparent !important;
  color: #000;
  margin-bottom: 25px;
}
.document_inner .form-control {
  height: 100%;
}
.document_inner h5, .document_inner_card h5 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}
.table {
  color: #000;
}
table.table thead th, table.table tbody td {
  padding: 0.75rem;
  font-size: 15px;
}
table.table tbody td {
  font-weight: 400;
}
table.valign-middle tbody td {
  vertical-align: middle;
}
/*-- General Setting -- */
ul.genset_main {
  padding: 0;
  padding: 10px 0;
  list-style: none;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
ul.genset_main li , .security_head li {
  display: inline-block;
}
li.genset_heading {
  width: 150px;
  font-weight: 600;
}
span.help-block {
  font-size: 12px;
  color: #b70000;
}
/*-- Security & Login -- */
ul.security_head {
  padding: 0;
  list-style: none;
  margin: 0;
}
li.genset_heading {
  width: 200px;
  font-weight: 600;
}
li.info-box-text {
  font-size: 25px;
  width: 40px;
  float: left;
}
li.info-box-text i.fa {
  position: relative;
  top: -6px;
}
.desc_security p {
  line-height: 15px;
}
p.desc_innersec {
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}
/* -- Privacy -- */
.pricy_desc h6 {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 0;
}
/* -- Activity Log -- */

.activity_head {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
p.desc_activity {
  font-weight: 600;
  margin: 0;
  padding-top: 5px;
}
.imguplod_file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
}
/* -- Gallery -- */
.gallery_popup .file-upload-wrapper #input-file-now {
  min-height: 100px;
  background-color: #ccc;
  width: 100%;
  margin: 18px 0;
}
.image_preview .row {
  margin-right: -10px;
  margin-left: -10px;
}
.popimgsec {
  padding: 0 8px;
  margin-bottom: 12px;
}
.galery_table td {
  vertical-align: middle !important;
}
.add_gallerypopup {
  border: 1px dotted #ccc;
  text-align: center;
  display: block;
  padding: 25px;
}
.mbdtable .btn-outline-secondary {
  padding: 5px 16px;
  margin: 0;
}
.cardmbd {
  border: 1px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
}
.cardmbd tbody tr {
  border-bottom: 1px solid #e8e9ee;
}
.bootstrap-table.bootstrap4 .fixed-table-container .fixed-table-body {
  overflow-x: visible;
  overflow-y: visible;
}
.search .form-control.search-input {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.table thead tr th .th-inner {
  padding: 14px 10px;
  background-color: #f9f9f9;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e9eaef;
  font-weight: 600;
}
.pagination-detail button.btn.btn-secondary.dropdown-toggle {
  padding: 3px 9px;
  border: 1px solid #4285f4;
  background: #4285f4 !important;
  color: #fff;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 0;
}
.bootstrap-table .fixed-table-pagination>.pagination-detail .pagination-info {
 margin-right: 0px; 
}
.pagination li.page-item {
  border: 1px solid #d4d4d4;
}
.bootstrap4 button.btn.btn-secondary {
  padding: 4px 16px;
  border: 1px solid #4285f4;
  background: #4285f4 !important;
  color: #fff;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 1px;
}

.mainbar__title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  float: left;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.sub_mainbar {
  font-size: 18px;
}
.mdc-top-app-bar__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-right: 0;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.bootstrap-table.bootstrap4 .btn-secondary:not([disabled]):not(.disabled):active,
.bootstrap-table.bootstrap4 .btn-secondary:not([disabled]):not(.disabled).active, 
.bootstrap-table.bootstrap4 .show>.btn-secondary.dropdown-toggle {
  background-color: #0b51c5 !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
/* Notification -- */
.notification_select_switch > input[type="checkbox"] {
  display: none;   
}
.notification_select_switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}
.notification_select_switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 10px;
  margin-top: -1px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.notification_select_switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 20px;
  left: -4px;
  margin-top: -3px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 20px;
}
.notification_select_switch > input[type="checkbox"]:checked + label::before {
  background: #4285f4;
  opacity: 0.5;
}
.notification_select_switch > input[type="checkbox"]:checked + label::after {
  background: #4393ff;
  left: 20px;
}
.notification_select_switch span{
  margin-right: 10px;
}
/* -- Media Query -- */
@media (max-width: 767px) {
  .pencil .fa.fa-pencil {
    margin-bottom: 20px;
    bottom: 0;
  }
}