* {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family (stack): Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: #000;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  color: #000;
  font-weight: 300;
}
p{
  font-weight: 400;
}
b, strong {
  font-weight: 600;
}
.error {
  color: #d80000;
  font-size: 14px;
  text-transform: capitalize;
}
.mbd-select {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #ced4db;
  border-radius: 0;
  min-height: 41px;
}
.mbd-select:active, .mbd-select:focus {
  background-color: transparent;
  border-bottom: 2px solid #4285f4;
}
.weight-bold {
  font-weight: bold;
}
.primaryTable {
  font-size: 14px;
  padding: 8px 21px;
  display: block;
  margin: 0;
  background-color: #4285f4;
  color: #fff;
}
.primaryModal {
  font-size: 15px !important;
  padding: 10px 2.14rem;
  font-weight: 500;
}
/*Delete Table*/
.btn.btnTable {
  padding: 5px 18px !important;
  font-size: 12px;
  margin: 0;
  margin-right: 15px;
  font-weight: 600;
}
.fun-header {
  padding: 1rem;
  margin: auto;
  border: 0;
}
.funconf {
  text-align: center;
}
.funconf h3 {
  font-size: 32px;
  font-weight: 500;
  color: #1f2d4a;
}
.funconf p {
  color: #9d9999;
  font-size: 18px;
  padding: 10px 15px;
}
.fun-footer {
  text-align: center;
}
button.close {
  position: absolute;
  top: 4px;
  right: 9px;
  outline: none;
  color: #b51111;
}
/*Badge*/
.badge.badge-success , .badge.badge-danger{
  letter-spacing: .6px;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: 500;
}
/*Button*/
.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  opacity: 0.5;
  background: #000;
  content: "";
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/********Loading*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100001;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0,0.4);
}
#loader_image {
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 100002;
  width: 60px;
}
/********Close Button*/
.closebtn {
  border: 2px solid #8c8c8c;
  color: #000;
  font-size: 15px;
  padding: 8px 2.14rem;
  font-weight: 500;
  margin: 0;
  border-radius: 3px;
}
/*Update Button*/
span.invalid-feedback {
  margin-top: -7px;
  font-size: 15px;
}
.card {
  border: 1px;
}
.mbd-label {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
}
.mbd-label:focus {
  background-color: transparent;
}
/****************************Registration****************************/

.signbtm {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.copyright_regis {
  font-size: 17px;
  margin: 0;
  padding-top: 5px;
  text-align: center;
  font-weight: 400;
}
/****************************Navbar****************************/
.navbar {
  background-color: #fff;
  padding: 0;
  font-weight: 500;
}
.navbar.scrolling-navbar, .navbar.scrolling-navbar.top-nav-collapse {
  padding: 0;

}
.top-nav-collapse .navbar-brand img {
  transition: all 0.3s;
  width: 100px;
}
/*******************Slider*******************/
.site-hero .container {
  position: relative;
  z-index: 2;
}
.site-hero .site-hero-inner {
  width: 100%;
  height: 80vh;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
}
.element-animate {
  opacity: 0;
  visibility: hidden;
}
.block-17 .heading {
  font-size: 52px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.block-17 form .search-submit {
  margin-left: 20px;
}
.block-17 form {
  padding: 5px 20px;
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}
.block-17 form .fields {
  width: calc(100% - 120px);
  position: relative;
}
.block-17 form .fields .one-third:first-child {
  padding-left: 0;
}
.block-17 form .fields .one-third {
  width: 50%;
  border-right: 1px solid #e6e6e6;
  padding-right: 20px;
  padding-left: 20px;
}
.block-17 form .fields .icon {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block-17 form .fields .select-wrap {
  position: relative;
}
.block-17 form .fields .select-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
}
.site-hero h1, .site-hero p {
  color: #fff;
  line-height: 1.5;
}
.block-17 form .fields .form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
}
.block-17 form .fields .form-control, .block-17 select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}
/************************************About us************************************/
.site-section {
  padding: 3em 0;
}
.block-16 figure {
  position: relative;
}
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 90px;
  height: 90px;
  background: #fff;
  display: block;
  border-radius: 50%;
  opacity: .8;
}
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.block-15 .heading {
  max-width: 400px;
  margin-bottom: 20px;
}
.block-15 .heading h2 {
  font-size: 45px;
  margin: 0;
  padding: 0;
  color: #4285f4;
}
.block-15 .text {
  max-width: 450px;
  margin-bottom: 25px;
}
.carousel-multi-item .carousel-indicators {
  margin: 0;
  margin-top: 30px;
}
.carousel-multi-item .carousel-indicators li {
  background-color: rgb(66, 133, 244);
}
.carousel-indicators .active {
  background-color: #fff !important;
}
.controls-top {
  text-align: right;
}

h2.titleheading {
  font-size: 32px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}
p.paratitle {
  color: #ccc;
}
/*******************Listing Page*******************/
.filter_sec form {
  margin-top: 25px;
  margin-bottom: 0;
  border: 1px solid #e6e6e6;
}
.list-img {
  border-radius: 5px;
  width: 170px;
  height: 100%;
  object-fit: cover;
}
.listing_inner {
  margin: 25px 0;
}
.right_sec img{
  margin-top: 25px;
  width: 100%;
}
.school-name {
  font-weight: 500;
  margin-bottom: 15px;
}
.listing_inner p {
  margin-bottom: 0;
}
.applybtn {
  font-size: 14px;
  padding: 8px 25px;
  margin: 0;
  float: right;
}
.inner_card{
  padding: 0.5rem 1rem 1rem 0;
  margin-top: 0.5rem;
  width: 100%;
}
.left_img_sec{
  padding: 16px;
}
.appfees{
  color: #000;
  font-weight: 600;
}
.listing_inner .font_small {
  font-size: 14px;
}
.line {
  margin-bottom: 16px;
  margin-top: 15px;
}
.drpdwn {
  width: auto;
}
.fonts {
  color: #000;
  line-height: 22px;
}
.flex{
  display: flex;
}
.fonts_weg {
  font-weight: 600;
  color: #000;
  margin-right: 25px;
}
.wid50 {
  width: 50%;
}
.custom-select {
  border-color: #7b7b7b;
}
.card-img-top {
  height: 240px;
  object-fit: cover;
}
.trend_slid .carousel-item {
  margin-bottom: 25px;
}
.admsin_sec .fa {
  color: #000;
}
.admsin_sec {
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}
/****************************School Profile****************************/
.profile_img {
  width: 183px;
}
.sub_banner img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  object-position: center;
}
.profschool-name {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 18px;
}
.schlbtn {
  font-size: 14px;
  padding: 8px 25px;
  margin: 50px 0;
  float: right;
}
.viewbtn {
  font-size: 14px;
  padding: 8px 25px;
  margin-top: 20px;
}
.profile_main {
  margin-top: -84px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border: 0;
  border-bottom: 2px solid #4285f4;
  color: #4285f4;
  outline: none;
}
.nav-tabs .nav-link {
  color: #000;
  font-size: 18px;
  outline: none;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
  color: #4285f4;
}
ul.navbar-nav.absolute-right li {
  padding: 10px 0;
}
.card-header-tabs {
  margin-bottom: 0;
}
.card-header-tabs {
  margin: 25px 0;
}
.over_sec {
  margin-bottom: 25px;
  padding: 24px;
}
.over_sec p , .recent_parag{
  line-height: 24px;
}
h6.boxsp-h-h {
  font-weight: 500;
}
.recentup_sec {
  margin-bottom: 25px;
  border-bottom : 1px solid #cbcbcc;
}
.recentup_inner {
  margin-bottom: 25px;
}
.recentup_sec h5 {
  font-weight: 600;

}
.recent_inner {
  display: inline-flex;
}
.recent_sec {
  margin-bottom: 25px;
}
.update_img {
  padding: 16px;
}
.update_img img{
  border-radius: 5px;
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.recent_heading {
  margin-top: 8px;
  padding-bottom: 16px;
  padding-top: 24px;
  width: 100%; 
}
.recent_heading h5 {
  font-weight: 600;
}
.recent_parag {
  padding: 24px;
  padding-top: 0;
}
.rytlist-img {
  border-radius: 5px;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
/*-- Course --*/
.subtitle {
  font-weight: 400;
}
li.list-group-item {
  /*border: 0;*/
}
/* -- Addmission Page -- */
.grad {
  background-color: #fff;
  background-image: -webkit-linear-gradient(left, #43264e, #ea2331);
  background-image: -moz-linear-gradient(left, #43264e, #ea2331);
  background-image: -ms-linear-gradient(left, #43264e, #ea2331);
  background-image: -o-linear-gradient(left, #43264e, #ea2331);
  background-image: linear-gradient(to right, #011a73,#09ce58);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.429rem;
  display: inline-block;
  font-weight: 500;
  margin: 24px 0;
}
.feescontent {
  margin: 20px 0;
}
.table thead th {
  background-color: #f9f9f9;
  font-size: 14px;
  border-bottom: 1px solid #e9eaef;
  font-weight: 600;
}
.addmisn_table td {
  padding: 0.2rem;
  border-top: 0px; 
}
.fontsxyz{
  color: #000;
  line-height: 22px;
  padding-right: 10px;
}
.top_btnsec li {
  display: inline-block;
}
.backbtn_sec, .submitbtn {
  float: right;
  margin: 0;
}
.backbtn {
  padding: 8px 25px;
}
.add_details label {
  margin-bottom: 0;
}
/*-- Confirm Template --*/
.confrmheading {
  font-weight: 500;
}
.cmnfrm_tblesec {
  padding: 0 16px;
}
.searchbtn_icon {
  margin: 0 3px;
  font-size: 20px;
  padding: 8px 21px;
}
/*-- Student Profile Addmission --*/
.sideheading_addprf a {
  color: #000;
  font-weight: 500;
}
.stepwizard-step p {
  margin-top: 10px;    
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;     
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.head-md{
  margin-bottom: 25px;
  font-weight: 500;
}
.stepwizard-row:before {
  top: 21px;
  bottom: 0;
  left: 94px;
  position: absolute;
  content: " ";
  width: 66%;
  height: 2px;
  background-color: #ccc;
}
.stepwizard-step {    
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  border-radius: 50px;
}
/* -- Student Profile -- */
.backbtn_sec .mobview {
  display: none;
}
.student_profile_img{
  margin-top: -125px;
}
.main_profile {
  margin: 25px;
}
.student_profile_img img {
  width: 150px;
  border-radius: 9px;
  border: 4px solid #e4e4e4;
}
.button_stdntprofile {
  margin-top: 93px;
}
.h-head-mgn-btm{
  margin-bottom: 25px;
  font-weight: 500;
}
.stdent_prf_card {
  padding: 25px; 
  margin-top: 25px;
}
.addprofle_content{
  margin-bottom: 25px;
}
.addprofle_content p {
  margin-bottom: 0; 
}
.profile_sidebr img {
  width: 50px;
  float:left;
  border-radius: 25px;
  margin-right: 10px;
}
.profile_sidebr p {
  margin-bottom: 0;
  padding-left: 58px;
  font-size: 14px;
}
.modalbtn {
  padding: .84rem 1rem;
}
.pencil_ryt {
  text-align: right;
}
/*Email Verification*/
.steps-form-3 {
  width: 2px;
  height: 470px;
  position: relative;
  margin-top: 50px;
}
.steps-form-3 .steps-row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}
.steps-form-3 .steps-row-3:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #7283a7; 
}
.steps-form-3 .steps-row-3 .steps-step-3 {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative; 
}
.steps-form-3 .steps-row-3 .steps-step-3.no-height {
  height: 50px; 
}
.steps-form-3 .steps-row-3 .steps-step-3 p {
  margin-top: 0.5rem; 
}
.steps-form-3 .steps-row-3 .steps-step-3 button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; 
}
.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 {
  width: 90px;
  height: 90px;
  border: 2px solid #59698D;
  background-color: white !important;
  color: #59698D !important;
  border-radius: 50%;
  padding: 12px;
  margin-top: -22px;
}
.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 img {
  width: 55px;
}
.steps-form-3 .steps-row-3 .steps-step-3 .btn-info {
  border: 2px solid #4285F4;
  background-color: #33b5e5 !important; 
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
/*Profile Review*/
.profile_review {
  margin-top: 140px;
}
.profile_review p {
  color: #50b5e5;
  line-height: 26px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.8px;
}
.steps-step-3 p {
  position: absolute;
  text-align: left;
  margin-left: 104px;
  width: 100%;
  line-height: normal;
}
/*Footer*/
.site-footer {
  padding-top: 40px;
  line-height: 1.7;
  background-color: #172337;
}

.site-footer .inner_footer h3 {
  color: #878787;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 9px;
}
.inner_footer {
  padding-bottom: 25px;
}
.inner_footer p {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 15px;
}
.inner_footer p i.fa.fa-home {
  padding-right: 10px;
}
.inner_footer ul {
  margin-bottom: 0;
}
.inner_footer li a {
  line-height: 3;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.widfull {
  width: 100%;
  border: 1px solid #616161;
  background-color: transparent;
  padding: 2px 10px;
  margin-bottom: 5px;
  color: #fff;
}
.subbtn {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  padding: 5px;
}
.copyright {
  font-size: 14px;
  border-top: 1px solid #484848;
  padding: 10px 0;
}

.copyright p {
  margin-bottom: 0;
  color: #878787;
}
.footer_social{
  text-align: right;
}
.footer_social a {
  color: #878787;
}
.footer_social a:hover {
  color: #fff;
}
/*---------end footer----------*/
/*-- Login Page --*/
.login_sec {
  width: 35%;
  margin: 10px auto;
}
.login_header {
  font-size: 28px;
  padding-bottom: 0;
  font-weight: 400;
}
.login_img {
  margin: 0 auto 10px;
  display: block;
}
.form-check-input {
  margin-top: 9px;
}
.md-form label {
  top: -5px;
}
span.help-block {
  color: red;
  font-size: 14px;
}
.confirmation_header {
  font-size: 61px;
  padding-bottom: 0;
  text-align: center;
  letter-spacing: 2px;
}

.md-form.verication_input {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

/*Paymeny*/
.payment_innersec {
  margin-top: 110px;
}
.paymentcard h4 {
  font-weight: 700;
}
.paymentcard h5 {
  margin: 33px 0;
}
span.cashrupee {
  font-size: 32px;
  vertical-align: middle;
}
.select_course_switch.course_edit > label::before , .select_course_switch.course_edit > label::after {
  margin-top: -13px;
}


/*-- Select Course -- */
.select_course_switch > input[type="checkbox"] {
  display: none;   
}
.select_course_switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}
.select_course_switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -6px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.select_course_switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -6px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.select_course_switch > input[type="checkbox"]:checked + label::before {
  background: #4285f4;
  opacity: 0.5;
}
.select_course_switch > input[type="checkbox"]:checked + label::after {
  background: #4393ff;
  left: 20px;
}
.select_course_switch span{
  font-weight: 600;
  margin-left: 10px;
}
.coursebtn {
  display: block;
  margin: 25px auto;
}
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}



/*-- Create School Profile --*/
.fill_innersec {
  margin-top: 20px;
}
.mainheading span{
  font-weight: 500;
}
.createschoolpro_header {
  font-size: 21px;
  padding-bottom: 0;
  margin-bottom: 25px;
}
.createschoolacc  .md-form {
  margin-top: 0;
}
/*Media Query*/
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1199px){
  .block-17 .heading {
    font-size: 27px;
  }
  .schlbtn {
    padding: 8px 20px;
  }
  .right_sidebr_upinner .card h5.card-title {
    font-size: 16px;
  }
  .stepwizard-row:before {
    left: 70px;
  }
  .login_sec {
    width: 40%;
  }
  .confirmation_header {
    font-size: 41px;
  }
}
@media (max-width: 991px){
/*.navbar-nav.dropdown {
    padding: 10px 20px;
    }*/
    .w-100 {
      width: 165%!important;
    }
    .block-17 form .fields {
      width: 100%;
    }
    .block-17 form .fields .one-third {
      margin-bottom: 10px;
    }
    .block-17 form .fields .textfield-search.one-third {
      width: 80%;
      padding: 0 5px;
      border-right: 1px solid #ccc;
    }
    .block-17 form .fields .select-wrap.one-third {
      width: 100%;
      padding-left: 5px;
    }
    .block-17 form .fields .icon {
      right: 0;
    }
    .block-17 form .search-submit {
      margin-left: 0;
      display: block;
      width: 100%;
    }
    .search-icon-submit {
      padding: 5px 21px;
      margin: 0;
      font-size: 18px;
    }
    .listing.filter_sec form .fields .icon {
      right: 10px;
    }
    .listing.filter_sec form .fields .one-third {
      margin-bottom: 0;
    }
    .listing.filter_sec form .search-submit{
      width: auto;
    }
    .schlbtn {
      margin: 10px 0;
      float: none;
    }
    .right_sidebr_update{
      display: none;
    }
    .list-img {
      width: 140px;
    }
    .login_sec {
      width: 50%;
    }
    .confirmation_ver {
      width: 60%;
    }
  }
  @media (max-width: 767px){
    .navbar .nav-item .nav-link {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar.navbar-light .navbar-toggler {
      margin-top: 5px;
    }
    .backbtn_sec .destopview {
      display: none;
    }
    .backbtn_sec .mobview {
      display: inline-block;
    }
    .w-100 {
      width: auto !important;
    }
    .list-img {
      width: 110px;
    }
    .left_img_sec {
      display: block;
      padding: 10px;
    }
    .inner_card {
      padding: 10px;
      margin-top: 0;
      padding-left: 0;
    }
    .wid50 {
      width: 100%;
    }
    .pull-right {
      float: none;
    }
    .applybtn {
      width: 100%;
      padding: 8px;
    }
    .class_inner{
      margin-right: 10px;
    }
    .drpdwn {
      width: 100%;
      margin-bottom: 10px;
    }
    .right_sec {
      display: none;
    }
    .site-footer{
      padding: 0;
    }
    .list-unstyled {
      margin: 0;
    }
    .inner_footer {
      padding: 20px 0;
      border-bottom: 1px solid;
    }
    .inner_footer li a {
      line-height: 2;
    }
    .footer_social {
      text-align: center;
    }
    .subbtn {
      padding: 10px;
      margin-bottom: 0;
    }
    .copyright {
      border: 0;
    }
    .copyright p {
      text-align: center;
    }
    .block-17 form .fields .form-control{
      padding: 0;
    }
    .listing.filter_sec form {
      padding: 0;
      padding-left: 16px;
    }
    .search-icon-submit {
      padding: 5px 21px;
      margin: 0;
      font-size: 18px;
    }
    .listing.filter_sec form .fields .icon {
      right: 10px;
    }
    .listing.filter_sec form .fields .one-third {
      margin-bottom: 0;
    }
    .profschool-name {
      margin-bottom: 5px;
      margin-top: 0;
    }
    .fonts {
      margin: 0;
    }
    .top_btnsec {
      margin: 10px 0;
    }
    .backbtn_sec, .submitbtn {
      float: right;
    }
    .stdntadd_blobk .left_img_sec img {
      width: 100%;
    }
    .stdntadd_blobk .inner_card {
      padding: 15px;
    }
    .prof_pencil {
      position: absolute;
      right: 0;
      top: -110px;
    }
    .button_stdntprofile {
      margin-top: 0;
    }
    .stdprf_image  {
      height: 178px !important;
      object-fit: cover;
    }
    .stepwizard-step {
      display: block;
      text-align: left;
    }
    .btn-circle {
      float: left;
      margin: 0;
      margin-right: 15px;
    }
    .stepwizard-step p {
      line-height: normal;
    }
    .stepwizard-row:before {
      display: none;
    }
    .feescontent {
      margin-top: 0;
    }
/*.login_sec {
  width: 70%;
}
.confirmation_ver {
  width: 80%;
  }*/
  .login_sec ,.confirmation_ve {
    width: 100%;
  }
}
@media (max-width: 575px){
  .navbar-brand {
    padding-left: 5px;
  }
  .school-name {
    margin-bottom: 5px;
    font-size: 17px;
  }
  .line {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p.fonts {
    line-height: 22px;
    font-size: 15px;
  }
  .confirmation_header {
    font-size: 31px;
  }
}
@media (max-width: 480px){
  .list-img {
    width: 95px;
  }
  .school-name {
    font-size: 15px;
  }
  .fonts {
    line-height: 16px;
    font-size: 14px;
  }
  .line {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .drpdwn {
    margin-bottom: 5px;
  }
  .profschool-name {
    font-size: 20px;
  }
  .recentup_inner .flex{
    display: block;
  }
  .recentup_inner .list-img {
    width: 100%;
  }
  .recentup_inner .inner_card {
    padding: 10px;
    margin-top: 0;
  }
  .backbtn_sec, .submitbtn {
    float: none;
    width: 100%;
  }
  .top_btnsec li {
    display: block;
    margin: 10px 0;
  }
  a.email_sec {
    word-break: break-all;
  }
  .form-check-label {
    font-size: 13px;
  }
  .login_header {
    font-size: 20px;
  }
}
@media (max-width: 375px){
  .listing.filter_sec form {
    padding-left: 8px;
  }
  .listing.filter_sec form .fields .icon {
    right: 4px;
  }
  .search-icon-submit {
    padding: 1px 16px;
    font-size: 15px;
  }
  .prof_pencil {
    top: -125px;
  }
}





.steps-form-2 {
  display: table;
  width: 100%;
  position: relative; 
}
.steps-form-2 .steps-row-2 {
  display: table-row;
  padding-top: 25px;
}
.steps-form-2 .steps-row-2:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #7283a7; 
}
.steps-form-2 .steps-row-2 .steps-step-2 {
  display: table-cell;
  text-align: center;
  position: relative; 
}
.steps-form-2 .steps-row-2 .steps-step-2 p {
  margin-top: 0.5rem; 
}
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
  width: 70px;
  height: 70px;
  border: 2px solid #59698D;
  background-color: white !important;
  color: #59698D !important;
  border-radius: 50%;
  padding: 22px 18px 15px 18px;
  margin-top: -22px; 
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
  font-size: 1.7rem; 
}
.steps-form-2 .steps-row-2 .steps-step-2 .btn-info {
  border: 2px solid #4285F4;
  background-color: #33b5e5 !important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 img {
  width: 45px;
}